@import "./loaders";
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: "Proxima Nova", sans-serif;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.loader {
    @include loader01;
}

.overview {
    & ul {
        @apply list-disc list-inside py-2;
        & li {
            @apply pb-4;
        }
    }
    & p {
        @apply pb-4
    }
    & b {
        @apply text-lg
    }
}